In [2]:
from fbprophet import Prophet
import pandas as pd
import numpy as np
pd.options.display.max_rows = 1000
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import math
import numpy as np
import datetime as dt
from statsmodels.tsa.stattools import acf
from fbprophet.plot import add_changepoints_to_plot

### 1) Import Data

In [ ]:
#sale = pd.read_pickle('sale_no_outlier.pkl')

In [ ]:
#new_sale = pd.DataFrame(sale[['Style_Color','INVC DATE', 'QTY']])

In [ ]:
#new_sale.to_csv('sale_setup.csv')

In [ ]:
#sale = pd.read_csv('sale_setup.csv')

In [ ]:
#del(sale['Unnamed: 0'])

In [2]:
sale = pd.read_csv('sale_by_week.csv')

In [3]:
sale = sale.groupby("Style_Color").filter(lambda x: len(x) >= 30)

In [24]:
sale.to_csv('sale_by_week.csv')

In [ ]:
sale['Style_Color'].unique

In [3]:
sale = pd.read_csv('sale_by_week.csv')

In [4]:
sample = sale.loc[sale['Style_Color'] == 'DTAN1190CHA']
sample.head()

     Unnamed: 0  Style_Color          ds    y
813       40700  DTAN1190CHA  2016-01-04   36
814       40701  DTAN1190CHA  2016-01-25   24
815       40702  DTAN1190CHA  2016-02-22   48
816       40703  DTAN1190CHA  2016-03-21   24
817       40704  DTAN1190CHA  2016-03-28  144

In [5]:
del(sample['Style_Color'])
del(sample['Unnamed: 0'])

In [6]:
sample.head()

             ds    y
813  2016-01-04   36
814  2016-01-25   24
815  2016-02-22   48
816  2016-03-21   24
817  2016-03-28  144

In [8]:
m = Prophet(changepoint_prior_scale=0.05).fit(sample)

INFO:fbprophet.forecaster:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
C:\Users\Bird_\Anaconda3\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [ ]:
future = m.make_future_dataframe(periods=52, freq = 'W')

In [ ]:
forecast = m.predict(future)
forecast[['ds','yhat']]

In [ ]:
fig1 = m.plot(forecast)

In [ ]:
fig2 = m.plot_components(forecast)

In [ ]:
metric_df = forecast.set_index('ds')[['yhat']].join(sample.set_index('ds').y).reset_index()

In [ ]:
metric_df.dropna(inplace=True)

In [ ]:
r2_score(metric_df.y, metric_df.yhat)

In [ ]:
 x = mean_squared_error(metric_df.y, metric_df.yhat)
math.sqrt(x)

In [ ]:
mean_absolute_error(metric_df.y, metric_df.yhat)

### 2) Second Model

In [7]:
sample1 = sale.loc[sale['Style_Color'] == 'DTAN1190CHA']
sample1.head()

       Style_Color          ds    y
40700  DTAN1190CHA  2016-01-04   36
40701  DTAN1190CHA  2016-01-25   24
40702  DTAN1190CHA  2016-02-22   48
40703  DTAN1190CHA  2016-03-21   24
40704  DTAN1190CHA  2016-03-28  144

In [8]:
del(sample1['Style_Color'])

In [21]:
m1 = Prophet(changepoint_prior_scale=0.02).fit(sample1)

INFO:fbprophet.forecaster:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
C:\Users\Bird_\Anaconda3\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [22]:
future1 = m1.make_future_dataframe(periods=52, freq = 'W')

In [23]:
forecast1 = m1.predict(future1)
forecast1[['ds','yhat']]

            ds       yhat
0   2016-01-04  40.344440
1   2016-01-25  32.328649
2   2016-02-22  40.472203
3   2016-03-21  54.939594
4   2016-03-28  77.301391
5   2016-04-25  23.907870
6   2016-05-02  39.078038
7   2016-05-09  44.799538
8   2016-05-16  33.956398
9   2016-05-30  32.566524
10  2016-06-06  59.097573
11  2016-06-20  76.875598
12  2016-07-04  35.313534
13  2016-07-18  44.602112
14  2016-07-25  58.056615
15  2016-08-08  77.596611
16  2016-08-22  89.532313
17  2016-09-12  47.934599
18  2016-09-26  49.399219
19  2016-10-10  41.314826
20  2016-10-24  37.091052
21  2016-10-31  40.944349
22  2016-11-07  38.891089
23  2016-11-14  30.221362
24  2016-11-21  23.135047
25  2016-11-28  23.862367
26  2016-12-05  28.454530
27  2016-12-19  23.740492
28  2016-12-26  22.349859
29  2017-01-02  29.933490
30  2017-01-09  39.489019
31  2017-01-23  26.397454
32  2017-02-06  18.303666
33  2017-02-13  29.899729
34  2017-02-20  33.197919
35  2017-03-06   7.144853
36  2017-03-13  13.258783
37  2017-03-27  66.599705
38  2017-04-10  40.669249
39  2017-04-24  13.513525
40  2017-05-08  36.672295
41  2017-06-19  70.826315
42  2017-07-03  29.246363
43  2017-07-17  33.604791
44  2017-07-24  47.420297
45  2017-09-11  41.044820
46  2017-10-02  40.671484
47  2017-10-30  32.018720
48  2018-02-05   8.284314
49  2018-05-14  22.086686
50  2018-06-11  57.817175
51  2018-08-20  72.994218
52  2018-09-03  50.961381
53  2018-09-17  28.503401
54  2018-10-01  32.690530
55  2018-10-07  28.309942
56  2018-10-14  20.832933
57  2018-10-21  18.632025
58  2018-10-28  22.342107
59  2018-11-04  24.022000
60  2018-11-11  18.034313
61  2018-11-18   8.939386
62  2018-11-25   5.576079
63  2018-12-02   9.296526
64  2018-12-09  12.454846
65  2018-12-16   9.433211
66  2018-12-23   5.068718
67  2018-12-30   8.209032
68  2019-01-06  18.353314
69  2019-01-13  23.955496
70  2019-01-20  16.500062
71  2019-01-27   2.776818
72  2019-02-03  -1.922816
73  2019-02-10   7.061690
74  2019-02-17  16.586119
75  2019-02-24  11.583847
76  2019-03-03  -4.298630
77  2019-03-10 -10.013561
78  2019-03-17   8.459566
79  2019-03-24  38.899810
80  2019-03-31  53.360927
81  2019-04-07  38.243053
82  2019-04-14   9.459854
83  2019-04-21  -5.331384
84  2019-04-28   3.015873
85  2019-05-05  17.398124
86  2019-05-12  17.264676
87  2019-05-19   3.926988
88  2019-05-26  -1.701462
89  2019-06-02  14.646571
90  2019-06-09  42.256547
91  2019-06-16  56.488453
92  2019-06-23  45.518933
93  2019-06-30  21.812226
94  2019-07-07   7.094019
95  2019-07-14  10.404640
96  2019-07-21  23.769743
97  2019-07-28  36.187992
98  2019-08-04  45.635785
99  2019-08-11  55.404332
100 2019-08-18  63.548753
101 2019-08-25  62.246052
102 2019-09-01  48.439942
103 2019-09-08  30.531445
104 2019-09-15  20.660614
105 2019-09-22  21.528798
106 2019-09-29  24.468593

In [ ]:
fig3 = m.plot(forecast1)

In [ ]:
fig4 = m.plot_components(forecast1)

In [ ]:
metric_df1 = forecast1.set_index('ds')[['yhat']].join(sample1.set_index('ds').y).reset_index()

In [ ]:
metric_df1.dropna(inplace=True)

In [ ]:
mean_absolute_error(metric_df1.y, metric_df1.yhat)

In [ ]:
r2_score(metric_df.y, metric_df.yhat)

In [ ]:
sample3 = sale.loc[sale['Style_Color'] == 'DTA1E152G-PJA']

In [ ]:
del(sample3['Style_Color'])

In [ ]:
m3 = Prophet()
m3.fit(sample3)

In [ ]:
future3 = m.make_future_dataframe(periods=52, freq = 'W')

In [ ]:
forecast3 = m.predict(future3)
forecast3[['ds','yhat']]

In [ ]:
fig3 = m.plot(forecast3)

In [ ]:
fig4 = m.plot_components(forecast3)

In [ ]:
metric_df = forecast.set_index('ds')[['yhat']].join(sample.set_index('ds').y).reset_index()